@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Kanit:ital,wght@1,100;1,300&family=Mitr:wght@200&family=Parisienne&family=Poppins:ital,wght@0,300;1,400&family=Sacramento&family=Satisfy&family=Sofia+Sans+Extra+Condensed:ital,wght@1,500&family=Tangerine&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Mitr', sans-serif;
    font-size: 30px;
} 
/*---------------------------------------------------------------------------HEADER INDEX----------------------------------------------------------------------------------------------*/
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black
}
header h1{
    font-size: 80px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: blanchedalmond;
    padding: 5px;
    margin: 5px;
}
header h1 a{
    text-decoration: none;
}
header nav ul{
    display: flex;
    font-size: 40px;
    font-weight:600;
}
header nav ul li{
    margin: 15px 20px 20px 15px;
    transition: 1.5s;
}
header nav ul li:hover{
    transform: scale(1.1);
}
header nav ul li a{
    color: blanchedalmond;
    text-decoration: none;
    transition: 1.5s;
}
header nav ul li a:hover{
color:darkmagenta;
}
/*-------------------------------------------------------------------------------MAIN INDEX---------------------------------------------------------------------------------------------*/
header a{
    text-decoration: none;
}
.bienvenidos{
    text-align: center;
    color:black;
    background-color: blanchedalmond;
    font-family: 'Mitr', sans-serif;
    font-size: 35px;
}
.hero{
    background-image:url("../img/sarahjpg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    padding: 30px;
    text-align: center;
    color: blanchedalmond;
}
.hero a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: black;
    font-size: 24px;
}
.fanpage{
    text-align: center;
    color:blanchedalmond;
    background-color: black;
    font-family: 'Mitr', sans-serif;
    font-size: 35px;
}
.galeria h2{
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    margin-bottom: 10px;
}
.grid-galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 325px;
    gap: 10px;
    margin-bottom: 10px;
}
.grid-galeria div img{
width: 100%;
height: 100%;
box-shadow: 10px 6px 28px 5px rgba(255,235,205,0.75);
-webkit-box-shadow: 10px 6px 28px 5px rgba(255,235,205,0.75);
-moz-box-shadow: 10px 6px 28px 5px rgba(255,235,205,0.75);
}
.sarahuno{
    grid-column: span 2;
    grid-row: span 3;
}
.sarahsiete{
    grid-row: span 3;
}
.sarahocho{
    grid-row: span 2;
}
.sarahnueve{
    grid-row: span 2;
}
.seccionmedia{
    background-image: url(../img/sarahvioleta.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sectorcompra h2{
    color: blanchedalmond;
}
.sectorcompra{
    color: blanchedalmond;
}
.sectorcompra div img{
    width:  614px;
    height: 350px;
}
.sectorcompra div{
    border: 3px solid;
    width: 620px;
    height: 450px;
    margin: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.sectorcompra div a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    padding: 3px 3px;
}
.iconsimb{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
/*------------------------------------------------------FOOTER INDEX----------------------------------*/
.footer{
    background-color: black;
}
footer div h2{
    color: blanchedalmond
}
footer div img{
    width: 75px;
    height: 75px;
}
/*-------------------------------------------------------MEDIA QUERY INDEX-----------------------------*/
@media screen and (max-width:1530px){
    header{
        flex-direction: column;
    }
}
@media screen and (max-width:1351px){
header nav ul{
    flex-direction: column;
    text-align: center;
}
header nav ul li{
    margin: 1px;
    font-size: 25px;
}
}
@media screen and (max-width:950px){
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px;
}
.grid-item{
    grid-column: span 1;
    grid-row: span 1;
}
.sarahnueve{
    grid-column: span 2;
}
}
@media screen and (max-width:790px){
    header h1{
        font-size: 55px;
}
.bienvenidos{
        font-size: 20px;
}
.fanpage{
font-size: 20px;
}
}
@media screen and (max-width:635px){
.hero{
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
}
.hero a{
    font-size: 15px;
}
.videoresponsive{
width: 100%;
}
.sectorcompra h2{
    font-size: 24px;
    text-align: center;
}
.sectorcompra div img{
width: 100%;
}
.sectorcompra div{
width: 350px;
font-size: 15px;
}
.sectorcompra div a{
    font-size: 12px;
}
}
@media screen and (max-width:550px){
.iconsimb{
    position:fixed;
    left: 25px;
    bottom: 25px;
}
footer div h2{
    font-size: 20px;
}
footer div img{
    width: 50px;
    height: 50px;
}
}
@media screen and (max-width:450px){
    .grid-galeria{
        grid-template-columns: repeat 1fr;
}
.grid-item{
    grid-column: span 1;
    grid-row: span 1;
}
.sarahnueve{
    grid-column: span 2;
}
}
/*-------------------------------------------------------MAIN BIOGRAFÍA----------------------------------------------------*/
.herobio{
    padding: 5px;
    margin: 10px;
    text-align: center;
    text-decoration: solid;
}
.cita{
    text-align: end;
}
.textobiografia{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.presentacion{
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
}
.presentacion div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align:justify;
    padding: 5px;
    margin: 5px;
}
.presentacion img{
    width: 500px;
    height: 500px;
}
.primerosanios{
    display: flex;
    align-items: center;
}
.primerosanios div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}
.primerosanios img{
    width: 500px;
    height: 550px;
}
.teatro{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
}
.teatro div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}
.teatro img{
    width: 500px;
    height: 550px;
}
.carrerasolista{
    display: flex;
    align-items: center;
}
.carrerasolista div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}
.carrerasolista img{
    width: 487px;
    height: 450px;
}
.exitointernacional{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
}
.exitointernacional div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}
.exitointernacional img{
    width: 487px;
    height: 877px;
}
.symphonys{
    display: flex;
    align-items: center;
}
.symphonys div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}
.symphonys img{
    width: 550px;
    height: 900px;
}
.viaje{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
}
.viaje div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}
.viaje img{
    width: 650px;
    height: 700px;
}
.musicayvoz{
    font-family: 'Poppins', sans-serif;
}
.titulomusicayvoz{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.musicayvoz{
    display: flex;
    align-items: center;
}
.musicayvoz div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 5px;
    margin: 5px;
}
.musicayvoz img{
    width: 600px;
    height: 650px;
}
/*------------------------------------------------------------------------------FOOTER BIOGRAFÍA----------------------------------------------------------*/
.footerbio{
    background-color: black;
}
/*------------------------------------------------------------------------------MEDIA QUERY BIOGRAFÍA-----------------------------------------------------*/
@media screen and (max-width:1100px){
    .herobio{
        padding: 3px;
        margin: 5px;
        text-align: center;
        font-size: 15px;
        width: 90%;
}
.textobiografia{
    font-size: 12px;
}
.textobiografia img{
    width: 100%;
    height: 90%;
}
.presentacion{
    flex-direction: column;
}
.presentacion div{
    text-align: center;
    width: 90%;
    height: 90%;
}
.primerosanios{
    flex-direction: column;
}
.primerosanios div{
    text-align: center;
    width: 90%;
    height: 90%;
}
.teatro{
    flex-direction: column;
}
.teatro div{
    text-align: center;
    width: 90%;
    height: 90%;
}
.carrerasolista{
    flex-direction: column;
}
.carrerasolista div{
    text-align: center;
    width: 90%;
    height: 90%;
}
.exitointernacional{
    flex-direction: column;
}
.exitointernacional div{
    text-align: center;
    width: 90%;
    height: 90%;
}
.symphonys{
    flex-direction: column;
}
.symphonys div{
    text-align: center;
    width: 90%;
    height: 90%;
}
.viaje{
    flex-direction: column;
}
.viaje div{
    text-align: center;
    width: 90%;
    height: 90%;
}
.musicayvoz{
    font-size: 12px;
    flex-direction: column;
}
.musicayvoz div{
    text-align: center;
    width: 90%;
}
.musicayvoz img{
    width: 95%;
    height: 90%;
    margin-bottom: 5px;
}
}
/*------------------------------------------------------------------------------MAIN DISCOGRAFÍA----------------------------------------------------------*/
.discografiatitulo{
    text-align: center;
}
.discosycancionesparteuno{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.discosycancionesparteuno div{
    padding: 50px;
}
.discosycancionesparteuno img{
    width: 300px;
    height: 300px;
}
.discosycancionespartedos{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.discosycancionespartedos div{
    padding: 50px;
}
.discosycancionespartedos img{
    width: 300px;
    height: 300px;
}
.discosycancionespartetres{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.discosycancionespartetres div{
    padding: 50px;
}
.discosycancionespartetres img{
    width: 300px;
    height: 300px;
}
.discosycancionespartecuatro{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.discosycancionespartecuatro div{
    padding: 50px;
}
.discosycancionespartecuatro img{
    width: 300px;
    height: 300px;
}
.discosycancionespartecinco{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.discosycancionespartecinco div{
    padding: 50px;
}
.discosycancionespartecinco img{
    width: 300px;
    height: 300px;
}
.discosycancionesparteseis{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.discosycancionesparteseis div{
    padding: 50px;
}
.discosycancionesparteseis img{
    width: 300px;
    height: 300px;
}
/*--------------------------------------------------------------------------MEDIA QUERY DISCOGRAFIA------------------------------------------------*/
@media screen and (max-width:1655px){
    .discografiatitulo{
        font-size: 15px;
        margin-top: 50px;
    }
    .discosycancionesparteuno{
        flex-direction: column;
        font-size: 15px;
    }
    .discosycancionespartedos{
        flex-direction: column;
        font-size: 15px;
    }
    .discosycancionespartetres{
        flex-direction: column;
        font-size: 15px;
    }
    .discosycancionespartecuatro{
        flex-direction: column;
        font-size: 15px;
    }
    .discosycancionespartecinco{
        flex-direction: column;
        font-size: 15px;
    }
    .discosycancionesparteseis{
        flex-direction: column;
        font-size: 15px;
    }
}

/*--------------------------------------------------------------------------FOOTER DISCOGRAFÍA-----------------------------------------------------*/
.footerdisco{
    background-color: black;
}
/*-------------------------------------------------------------------------MAIN FILMOGRAFÍA-----------------------------------------------------*/
.titulopeliculas{
    text-align: center;
    margin-top: 50px;
}
.tablapeliculas{
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
table{
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
td, th{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
th{
    background-color: blanchedalmond;
}
.tituloteatro{
    text-align: center;
    margin-top: 50px;
}
.tablateatro{
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.titulomusicales{
    text-align: center;
    margin-top: 50px;
}
.tablamusicales{
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
}
/*------------------------------------------------------FOOTER FILMOGRAFIA-------------------------------*/
.footerfilmografia{
background-color: black;
}
/*------------------------------------------------------Media query FILMOGRAFÍA--------------------------*/
@media screen and (max-width:800px){
    .titulopeliculas{
        font-size: 15px;
    }
    .tablapeliculas{
        font-size: 10px;
    }
    td, th{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .tituloteatro{
        font-size: 15px;
    }
    .tablateatro{
    font-size: 10px;
    }
    .titulomusicales{
        font-size: 15px;
    }
    .tablamusicales{
        font-size: 10px;
    }
}
/*---------------------------------------------------MAIN PREMIOS------------------------------------*/
.titulopremios{
    text-align: center;
    margin-top: 50px;
}
.tablapremios{
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
}
/*---------------------------------------------------FOOTER PREMIOS------------------------------------*/
.footerpremios{
    background-color: black;
}
/*------------------------------------------------------------------------------MEDIA QUERY PREMIOS-----------------------------------------------------*/
@media screen and (max-width:617px){
.tablapremios{
    font-size: 10px;
    padding: 5px;
    margin:  5px;
    width: 90%;
}
.footerpremios{
    width: 100%;
}
}
@media screen and (max-width:400px){
    .titulopremios{
        font-size: 15px;
        text-align: center;
        margin-bottom: 50px;
        text-align: center;
    }
    .tablabendita{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
/*--------------------------------------------------------------------------MAIN CONTACTO----------------------------------------------------------*/
.acercademi{
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
    text-align: start;
    margin: 5px;
    padding: 5px;
    display: flex;
}
.acercademi h2{
    text-align: center;
}
.acercademi img{
    height: 350px;
    width: 350px;
}  
/*--------------------------------------------------------------------------FOOTER CONTACTO-----------------------------------------------------*/  
.footercontacto{
    display: flex;
    justify-content: space-between;
    background-color: black;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.whatsapp{
    margin-right: 30px;
    margin-top: 50px;
    text-align: end;
    color: blanchedalmond;
}
/*-------------------------------------------------------------------------MEDIA QUERY CONTACTO-------------------------------------------------*/
@media screen and (max-width:1360px){
    .acercademi{
        font-size: 15px;
        flex-direction: column;
        justify-content: center;
    }
    .acercademi h2{
        font-size: 20px;
        margin: 10px;
    }
    .acercademi img{
        width: 95%;
    }
    .footercontacto{
        position:inherit;
        font-size: 15px;
    }
    .footercontacto h2{
        margin-left: 5px;
    }
    .footercontacto div a{
        margin-left: 5px;
    }

}