footer {
    background-color: black;

    div {
        margin-left: 5px;
        h2 {
            color: blanchedalmond;
        }
        a{
            img{
                width: 70px;
                height: 70px;
            }
        }
    }
}
/*-------------------------------------------FOOTER CONTACTO---------------------------------------*/
.footercontacto{
    display: flex;
    justify-content: space-between;
    background-color: black;
    bottom: 0;
    width: 100%;
    position: absolute;
    .whatsapp{
        margin-right: 30px;
        margin-top: 50px;
        text-align: end;
        color: blanchedalmond;
    }
}
