// footer {
//     background-color: black;

//     h2 {
//         color: blanchedalmond;

//         div {

//             a {
//                 img {
//                     width: 75px;
//                     height: 75px;
//                 }
//             }
//         }
//     }
// }

.footer {
    background-color: black;

    div {
        h2 {
            color: blanchedalmond;
        }
        a{
            img{
                width: 70px;
                height: 70px;
            }
        }
    }
}