footer{
    background-color: black;
        h2{
            color: blanchedalmond;
            div{
                img{
                    width: 75px;
                    height: 75px;
                }
            }
        }
    }