/*-------------------------------header--------------------------*/
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primario;
    h1{
        font-size: nth($font-size,9);
        font-family: 'Great Vibes', cursive;
        text-align: center;
        color: $color-secundario;
        padding: 5px;
        margin: 5px;
    }
    nav{
        ul{
            display: flex;
            font-size: nth($font-size,8);
            font-weight:600;
            li{
                margin: 15px 20px 20px 15px;
                transition: 1.5s;
                &:hover{
                transform: scale(1.1);
                }
                &:hover{
                    a{
                color:darkmagenta;
                    }
                }
                a{
                    color: $color-secundario;
                    text-decoration: none;
                }
            }
        }
    }
}
header{
        a{
            text-decoration: none;
        }

    }