@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Kanit:ital,wght@1,100;1,300&family=Mitr:wght@200&family=Parisienne&family=Poppins:ital,wght@0,300;1,400&family=Sacramento&family=Satisfy&family=Sofia+Sans+Extra+Condensed:ital,wght@1,500&family=Tangerine&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Mitr', sans-serif;
    font-size: 30px;
}
table{
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
td, th{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
    th{
    background-color: blanchedalmond;
    }